@import "bootstrap/bootstrap";

body {
  background: url('/images/bg.png');
}

table {
  width: 100%;
  td.name {
    width: 25%;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    color: #775228;
  }
  td.bar {
    width: 75%;
    position: relative;
  }
}

img.current-line {
  height: 100%;
  width: 1px;
  position: absolute;
  left: 50%;
  z-index: 100;
}

img.month-bars {
  position: absolute;
  .opacity(25);
  top: 4px;
}

.season-bar {
  margin: 10px 0;
  overflow: hidden;
  position: relative;
  height: @baseLineHeight;
  background: url('/images/bg-dark.png');
  .box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
  .border-radius(4px);
}

.season-bar-inner {
  width: 0%;
  height: 100%;
  float: left;
  .box-shadow(inset 0 6px 4px -4px rgba(0,0,0,.1));
  #gradient > .striped(#9dc733);
  .background-size(40px 40px);
}
