@import "bootstrap/bootstrap";

body {
  background: url('/images/bg.png');
  color: #42290c;
}

h2 {
  text-align: center;
}

table {
  margin: 0 auto;
  td.name {
    width: 230px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    color: #775228;
    text-transform: uppercase;
  }
  td.bar {
    text-transform: uppercase;
    font-weight: bold;
    color: #775228;
    width: 730px;
    position: relative;
  }
}

img.current-line {
  height: 100%;
  width: 1px;
  position: absolute;
  z-index: 100;
}

img.month-bars {
  position: absolute;
  .opacity(25);
  top: 4px;
}

.season-bar {
  width: 500px;
  margin: 5px 0;
  overflow: hidden;
  position: relative;
  height: @baseLineHeight;
  background: url('/images/bg-dark.png');
  .box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
  .border-radius(4px);
}

.season-bar-inner {
  width: 0%;
  height: 100%;
  float: left;
  .box-shadow(inset 0 6px 4px -4px rgba(0,0,0,.1));
  #gradient > .striped(#b4c48a);
  .background-size(40px 40px);
}

tr.in-season .season-bar-inner {
  #gradient > .striped(#9dc733);
}
